.container{
  max-width: 100rem;
  margin-inline: auto;
  /* padding-inline: 2rem; */
  margin: 1rem;
}

.card{
  background-color: grey;
}

.card img {
  height: 200px;
  width: 200px;
}

.product-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}